.react-add-to-calendar__dropdown {
  ul {
    li {
      &::marker {
        content: " ";
      }
      a {
        text-decoration: none;
        i {
          margin-right: 10px;
        }
      }
    }
  }
}

.react-datepicker-wrapper {
  display: block!important;
}

.react-datepicker__triangle {
  left: 222px!important;
}


.react-datepicker__month-dropdown-container,
.react-datepicker__year-dropdown-container  {
  margin: 0 12px;
}

.react-datepicker__month-read-view,
.react-datepicker__year-read-view {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  .react-datepicker__month-read-view--down-arrow,
  .react-datepicker__year-read-view--down-arrow {
    top: 0 !important;
    margin-left: 6px;
    float: none;
  }
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--scroll {
  margin-top: 10px;
}

.react-datepicker__input-container {
  input::-ms-clear {
    display: none;
  }
}